<div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title pull-left">Lista de características</h4>
                    <button class="btn btn-white btn-round pull-right" style="padding:10px">
                      Característica nueva
                      <i class="material-icons">add</i>
                    </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr><th>
                          #
                        </th>
                        <th>
                          Nombre Característica
                        </th>
                        <th>
                          Subcaracterísticas
                        </th>
                        <!-- <th>
                         	Ver
                        </th> -->
                        <th>
                          	Eliminar
                        </th>
                      </tr></thead>
                      <tbody>
                        <!-- <tr *ngFor="let caracteristica of caracteristicas; index as i"> -->
                          <td>
                          	1
                            <!--{{i+1}}-->
                          </td>
                          <td>
                          	Usabilidad
                            <!--{{caracteristica.nombre_caracteristica}}-->
                          </td>
                          
                          <td>
                            <button (click)="btnVer(caracteristica.idcaracteristica)" class="btn btn-success btn-round btn-just-icon">
                              <i class="material-icons">all_out</i>
                            </button>
                          </td>
                          <td>
                            <button (click)="btnEliminar(caracteristica.idcaracteristica)" class="btn btn-danger btn-round btn-just-icon" >
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        <!-- </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
