[submodule "desarrollo/SW_ModeloDeCalidad-ISO9126/4. Fuentes/fcalidad-unmsm/calidad-unms"]
	path = desarrollo/SW_ModeloDeCalidad-ISO9126/4. Fuentes/fcalidad-unmsm/calidad-unms
	url = https://gitlab.com/nadim500/calidad-unms
