<vm-card>
  <vm-card-body>
    <div class="g-datatable g-datatable--default">
      <table class="g-table">
        <thead class="g-table__head">
          <tr class="g-table__row">
            <th class="g-table__cell" style="width: auto;">
              Característica
            </th>
            <th class="g-table__cell" style="width: 200px;">
              Peso
            </th>
          </tr>
        </thead>
        <tbody class="g-table__body" style="height: auto;">
          <tr class="g-table__row">
            <td class="g-table__cell" style="width: auto;">
              Funcionalidad
            </td>
            <td class="g-table__cell" style="width: 200px;">

            </td>
          </tr>
          <tr class="g-table__row">
            <td class="g-table__cell" style="width: auto;">
              Fiabilidad
            </td>
            <td class="g-table__cell" style="width: 200px;">

            </td>
          </tr>
          <tr class="g-table__row">
            <td class="g-table__cell" style="width: auto;">
              Usabilidad
            </td>
            <td class="g-table__cell" style="width: 200px;">

            </td>
          </tr>
          <tr class="g-table__row">
            <td class="g-table__cell" style="width: auto;">
              Eficiencia
            </td>
            <td class="g-table__cell" style="width: 200px;">

            </td>
          </tr>
          <tr class="g-table__row">
            <td class="g-table__cell" style="width: auto;">
              Facilidad de Mantenimiento
            </td>
            <td class="g-table__cell" style="width: 200px;">

            </td>
          </tr>
          <tr class="g-table__row">
            <td class="g-table__cell" style="width: auto;">
              Portabilidad
            </td>
            <td class="g-table__cell" style="width: 200px;">

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </vm-card-body>
  <vm-card-footer>
    <div class="g-card__footer-buttons">
      <vm-button
        [text]="'Guardar'"
        [btnTheme]="'success'">
      </vm-button>
    </div>
  </vm-card-footer>
</vm-card>
