@model WebAdmin.Models.Subcaracteristica

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Va eliminar el siguiente registro??</h3>
<div>
    <h4>Subcaracteristica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCaracteristicaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCaracteristicaNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSubcaracteristica" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Ir a Listado</a>
    </form>
</div>
