<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calidad.WebAdmin</title>
    <link href="~/lib/feather/style.min.css" rel="stylesheet" />
    <link href="~/lib/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <link href="~/lib/theme/resources/scss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/theme/resources/scss/app.min.css" rel="stylesheet" />
    <link href="~/lib/theme/resources/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/theme/resources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/theme/resources/plugins/select2/select2.min.css" rel="stylesheet" />

    <link href="~/css/site.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    
    <div class="container">
        <div class="card">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
       
    </div>
                
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/vendor.js"></script>
    <script src="~/lib/modern-admin/js/app-menu.js"></script>
    <script src="~/lib/modern-admin/js/app.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/lib/theme/resources/plugins/select2/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("select").select2();
            $('table').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
